<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/44f6061d41.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/">
        <span>Bookers</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" 
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown" style="display: flex; justify-content: flex-end;">
        <ul style="list-style: none; display: flex; gap: 15px; margin: 0; padding: 0;">
          <% if user_signed_in? %>
            <li>
              <%= link_to user_path(current_user.id), style: "color: white; text-decoration: none; display: flex; align-items: center;" do %>
                <i class="fa-solid fa-house" style="margin-right: 4px;"></i>
                Home
              <% end %>
            </li>
            <li>
              <%= link_to users_path, style: "color: white; text-decoration: none; display: flex; align-items: center;" do %>
                <i class="fa-solid fa-users" style="margin-right: 4px;"></i>
                Users
              <% end %>
            </li>
            <li>
              <%= link_to books_path, style: "color: white; text-decoration: none; display: flex; align-items: center;" do %>
                <i class="fa-solid fa-book-open" style="margin-right: 4px;"></i>
                Books
              <% end %>
            </li>
            <li style="display: flex; align-items: center;">
            <%= link_to destroy_user_session_path, method: :delete, style: "color: white; text-decoration: none; display: flex; align-items: center;" do %>
              <i class="fa-solid fa-right-to-bracket" style="margin-right: 4px;"></i>
              Log out
            <% end %>
          </li>
          <% else %>
            <li style="display: flex; align-items: center;">
              <%= link_to root_path, style: "color: white; text-decoration: none; display: flex; align-items: center;" do %>
                <i class="fa-solid fa-house" style="margin-right: 4px;"></i>
                Home
              <% end %>
            </li>
            <li style="display: flex; align-items: center;">
              <%= link_to about_path, style: "color: white; text-decoration: none; display: flex; align-items: center;" do %>
                <i class="fa-solid fa-link" style="margin-right: 4px;"></i>
                About
              <% end %>
            </li>
            <li style="display: flex; align-items: center;">
              <%= link_to new_user_registration_path, style: "color: white; text-decoration: none; display: flex; align-items: center;" do  %>
                <i class="fa-solid fa-user-plus" style="margin-right: 4px;"></i>
                Sign up
              <% end %>
            </li>
            <li style="display: flex; align-items: center;">
              <%= link_to new_user_session_path, style: "color: white; text-decoration: none; display: flex; align-items: center;" do %>
                <i class="fa-solid fa-right-to-bracket" style="margin-right: 4px;"></i>
                Log in
              <% end %>
            </li>
          <% end %>      
        </ul>
      </div>
    </div>
  </nav>
</header>

  <main>
  <% if flash.present? %>
    <div class="flash-messages">
      <% flash.each do |type, message| %>
        <% type_class = type.to_s == "alert" ? "error" : "success" %>
        <div class="flash flash-<%= type_class %>">
          <%= message %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="container">
    <div class="row">
    </div>
  </div>
  <%= yield %>
</main>

  <footer>
    <div class="container mt-5">
      <div class="row">
       <div class="mx-auto">
        <p>CopyRight Infratop.inc</p>
       </div>
      </div>
    </div>
  </footer>
</body>
  
</html>
